

p {
  color: pink;
  font-weight:bold;
}

#butthead {
  background-color:purple;
  padding:20px;
  margin:10px;
  border:solid 2px pink;
  border-radius:20px;
}

#image-border {
  background-color:purple;
  padding:20px;
  margin:10px;
  border:solid 2px pink;
  border-radius:40px;
}

#cute {
  background-color:purple;
  padding:20px;
  margin:10px;
  border:solid 2px pink;
  border-radius:40px;
}
