
body {background-color:lightblue;}
p {
  color: hotpink;
  font-weight:bold;
}

img{
  width: 25%;
  height: auto;
}

a{
  color:hotpink;
}

h1{
  color:hotpink;
}

h2{
  color:hotpink;
}

#image-border {
  background-color:purple;
  padding:20px;
  margin:10px;
  border:solid 5px pink;
  outline:solid 5px;
}

#cute {
  background-color:purple;
  padding:20px;
  margin:10px;
  border:solid 5px pink;
  outline:solid 5px;
}
