
body {background-color:purple;}
p {
  color:#fba0e3;
  font-weight:bold;
  font-size:20px;
  font-family: cursive;
}

img{
  width: 15%;
  height: auto;
}

a{
  color:#fba0e3;
}

h1{
  color:#fba0e3;
  font-size:20px;
  font-family:cursive;
}

h2{
  color:#fba0e3;
  font-size:20px;
  font-family:cursive;
}

h3{
  color:#fba0e3;
  font-size:20px;
  font-family:cursive;
}

#image-border {
  background-color:#e0b0ff;
  padding:20px;
  margin:10px;
  border:solid 10px #fba0e3;
}

#cute {
  background-color:purple;
  padding:20px;
  margin:10px;
  border:solid 10px #fba0e3;
}
