
body {background-color:lightskyblue;}
p {
  color:fuchsia;
  font-weight:bold;
  font-size:20px;
  font-family: cursive;
}

h1{
  color:fuchsia;
  font-family:cursive;
  font-size:20px;
}

h2{
  color:fuchsia;
  font-family:cursive;
  font-size:20px;
}

h3{
  color:fuchsia;
  font-family:cursive;
  font-size:20px;
}


#cute {
  background-color:#e0b0ff;
  padding:20px;
  margin:10px;
  border:solid 10px #fba0e3;
}
