
body{
  background-image:url("http://i.imgur.com/CMWTqJx.jpg?1");
}

#cute {
   background-image:linear-gradient(white, lightskyblue);
}

p {
  color:darkblue;
  font-weight:bold;
  font-size:20px;
  font-family: Courier, monospace;
  display: flex;
	flex-direction: row;
	justify-content: center;
  align-items: stretch;
  margin-left: 200px;
  margin-right: 200px;
}

a{
  color:darkblue;
  display: flex;
	flex-direction: row;
	justify-content: center;
  align-items: stretch;
}

h1{
  margin: 10px;
  border-width: 5px;
  border-color: lightskyblue;
  color:darkblue;
  font-size:20px;
  font-family:Courier, monospace;
  display: flex;
	flex-direction: row;
	justify-content: center;
  align-items: stretch;

}

h2{
  color:darkblue;
  font-size:20px;
  font-family:Courier, monospace;
  display: flex;
	flex-direction: row;
	justify-content: center;
  align-items: stretch;
}

h3{
  color:darkblue;
  font-size:20px;
  font-family:Courier, monospace;
  display: flex;
	flex-direction: row;
	justify-content: center;
  align-items: stretch;
}

h4{
  color:darkblue;
  font-size:20px;
  font-family:Courier, monospace;
  display: flex;
	flex-direction: row;
	justify-content: center;
  align-items: stretch
}
